/* -------------TOOLBAR------------- */

.toolbar {
    display: flex;
    background-color: rgb(19, 25, 33);
    color: #fff;
    height: 60px;
}
.toolbar .logo {
    padding: 6px 12px;
    cursor: pointer;
    margin: 8px 6px;
    border: 2px solid rgb(19, 25, 33);
}
.toolbar .ship-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:6px 9px;
    margin: 8px 2px;
    cursor: pointer;
    border:  2px solid rgb(19, 25, 33);
}
.toolbar .ship-btn i {
    padding-right: 10px;
    font-size: 30px;

}
.toolbar .country {
    display: flex;
    flex-direction: column;
    font-size: 10px;

}
.toolbar .findbar {
    display: flex;
    align-items: center;
    width:55%;
    margin-top: 8px;
    margin-bottom: 7px;
    border-radius: 12px;
    justify-content: left;
}
.findbar.outline {
    border: 4px solid rgb(236, 87, 0);
}
.toolbar .findbar .item-select {
    position: relative;
}
.toolbar .findbar .item-select select {
    border: none;
    width: 60px;
    height: 40px;
    padding-left: 10px;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.9);
}
.toolbar .findbar .item-select select:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.toolbar .findbar input {
    height: 40px;
    width: 100%;
    border:none;
    padding-left: 12px;
    outline: none;
    min-width: 180px;
}

.toolbar .findbar #icon-find {
    background-color: rgb(236, 161, 91);
    color: #000;
    width: 60px;
    height: 40px;
    font-size: 19px;
    text-align: center;
    padding: 12px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}
.toolbar .findbar #icon-find:hover {
    background-color: rgb(243, 145, 32);
}
.toolbar .country-select {
    display: flex;
    cursor: pointer;
    margin: 8px 6px;
    border: 2px solid rgb(19, 25, 33);
    margin-left: 12px;
}
.toolbar .country-select select {
    width: 70px;
    cursor: pointer;
    padding-left: 4px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(19, 25, 33);
    border-color: rgb(19, 25, 33);
    color: #fff;
}
.toolbar .register {
    padding:12px 12px;
    border: 2px solid rgb(19, 25, 33);
    margin: 6px 0px;
}
.toolbar .order {
    display: flex;
    flex-direction: column;
    min-width: 85px;
    padding:4px 4px;
    margin: 6px;
    cursor: pointer;
    border: 2px solid rgb(19, 25, 33);
}

.toolbar .cart {
    display: flex;
    border-color:rgb(19, 25, 33);;
    width:100px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(19, 25, 33);
    margin: 6px;
}
.toolbar .cart i {
    font-size: 40px;
    color: #fff;
}
.toolbar .logo:hover, .toolbar .ship-btn:hover,
.toolbar .country-select:hover ,.toolbar .order:hover,
.toolbar .cart:hover, .toolbar .register:hover {
    border-color: #fff;
    border-radius: 8px;
}

/* ---------------NAVBAR-------------- */

.navbar {
    background-color: rgb(35, 47, 62);
    height: 40px;
    color: #fff;
}
.navbar .sidenav {
    float:left;
    padding: 4px;
    border: 1px solid rgb(35, 47, 62);
    margin: 4px;
    margin-left: 6px;
}
.navbar .shopnav {  
    float:left;
    padding: 4px;
    border: 1px solid rgb(35, 47, 62);
    margin: 4px;

}
.navbar .disaster {
    float:right;
    padding: 4px;
    border: 1px solid rgb(35, 47, 62);
    margin: 4px;
}
.navbar .disaster a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}
.navbar .sidenav:hover, .navbar .shopnav:hover,.navbar .disaster:hover {
    border-color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
/* ---------------MAIN CONTAINER--------------- */
.main-container {
    background-color: #eee;
    transform: translateY(300px);
}
/* ---------CONTAINER BACKGROUND------- */

.slideshow-container {
    position: absolute;
    margin: auto;
}
.mySlides {
    display: none;
}
.slide1 {
    display: block;
}
.mySlides img {
    vertical-align: middle;
}
.slideshow-container .prev,.slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 20%;
    width: auto;
    padding:30px 25px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 8px 8px 0;
    user-select: none;
    margin: 0px 16px;
}
.slideshow-container .next {
    right: 0;
    border-radius: 8px 0 0 8px;
}
.slideshow-container .prev:hover,.slideshow-container .next:hover {
    background-color: rgb(0,0,0,0.8)
}

/* --------FADE ANIMATION-------- */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: 0.6} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0.6} 
    to {opacity: 1}
}
/* ---------CONTAINER---------- */
.container {
    margin: 0px 16px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .container-item {
    height: 420px;
    background-color: #fff;
    width: 320px;
    min-width: 280px;
    overflow: hidden;
    vertical-align: top;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
}
.container-item .title-item {
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 12px;
    text-align: start;
    font-size: 20px;
}
.container-item .item-img img {
    width: 95%;
    padding: 8px;
    height: 320px;
}
.container-item .see-more-btn {
    text-decoration: none;
    text-align: start;
    font-weight: 600;
    margin-bottom: 32px;
}
.container-item .see-more-btn .see-more {
    padding:0px 16px;
    text-decoration: none;
    color: rgba(10, 122, 85, 0.8);
}
.container-item .see-more-btn .see-more:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
.container-item.sign-in {
    background:none
}
.sign-in-form {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.sign-in-form .sign-in-btn {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}
.sign-in-form .sign-in-btn button {
    padding: 5px 80px;
    background-color: rgb(217, 255, 4);
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 2px 1px 4px #888888;
    border: 1px solid rgb(188, 221, 3);
}
.sign-in-form .sign-in-btn button:hover {
    background-color: rgb(205, 240, 11);

}
.container-item.sign-in img {
    width: 100%;
    height: 300px;
}
.container-mini-item {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 8px;
    height: 320px;
    justify-content: space-evenly;
    text-align: left;
}
.container-mini-item .mini-item {
    width: 50%;
    padding: 8px;
}
.mini-item .mini-item-img {
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8)
}
.mini-item-img .mini-item-title:hover {
    color: rgba(255, 0, 0, 0.8);
}
.main-container > .item-container {
    margin: 0px 30px;
    padding: 16px;
    background-color: #fff;
    position: relative;
}

.item-container .title .see-more {
    padding-left: 24px;
    text-decoration: none;
    color: rgba(10, 122, 85, 0.8);
}
.item-container .title .see-more:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
.item-container .myItems {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 12px;
    position: relative;
    display: none;
}
.item-container .myItems .Item {
    width: calc(100%/7);
}
.item-container .item1 {
    display: flex;
}
.item-container .myItems .Item img {
    width: 90%;
    height: 10rem;
}
.item-container .prev, .item-container .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 24px 12px;
    color: rgb(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 8px 8px 0;
    user-select: none;
}
.item-container .next {
    right: 20px;
    border-radius: 8px 0 0 8px;
}
/* ----------SUB CONTAINER--------- */
.sub-container {
    background-color: #fff;
    padding-top: 15px;
}
.sub-container .item-container {
    position: relative;
}
.sub-container > .title {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    padding: 16px 30px;
}
.sub-container .title .page {
    float: right;
    font-size:14px;
}
.sub-container > .item-container .recommendItems {
    display: flex;
    flex-wrap: nowrap;
    padding: 12px 50px;
    padding-bottom: 50px;
    margin: 0 30px;
    position: relative;
    display: none;
    border-bottom: 1px solid #ccc;

}
.sub-container > .item-container .recommendItems .Item {
    width: calc(100%/7);
    display: flex;
    flex-direction: column;
}
.sub-container > .item-container .item1 {
    display: flex;
}
.sub-container > .item-container .recommendItems .Item img {
    width: 90%;
    height: 10rem;
}
.sub-container > .item-container .prev, .sub-container .item-container .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 15px;
    padding: 10px 14px;
    color: rgb(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 8px;
    user-select: none;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
.sub-container > .item-container .next {
    left: auto;
    right: 15px;
}
.sub-container > .item-container .prev:hover, .sub-container .item-container .next:hover {
    background-color: #eee;
}
.recommendItems .Item .item-name {
    text-decoration: none;
    font-size: 17px;
    padding-top: 8px;
    padding-right: 6px;
    color: rgb(12, 151, 59);
}
.recommendItems .Item .item-name:hover {
    color: rgb(236, 87, 0)
}
.recommendItems .Item .rating {
    font-size: 14px;
}
.recommendItems .Item .item-cost {
    text-decoration: none;
    color: #000;    
}
.recommendItems .Item .item-cost i {
    font-size: 12px;
    transform: translate(3px, -4px)
}
.sub-footer {
    text-align: center;

}
.sub-footer .title {
    padding-top: 30px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
}
.sub-footer .sign-in-btn {
    font-size: 14px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #d3842a;
    border-radius: 5px;
    background-color: rgb(217, 255, 4);
    border: none;
    box-shadow: 2px 1px 4px #888888;


}
.sub-footer .sign-in-btn:hover {
    background-color: rgb(205, 240, 11);
}
.sub-footer .bar {
    padding-top: 12px;
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 16px;
}
.sub-footer .bar span {
    text-decoration: none;
    color: rgba(10, 122, 85, 0.8);
    font-size: 13px;
    font-weight: 600;
}
.sub-footer .bar span:hover {
    color: rgb(236, 87, 0)
}
.back-to-top {
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
    background-color: rgba(20, 55, 88, 0.8);
    padding: 16px;
}
/* --------------FOOTER------------ */
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #232F3E;
    transform: translateY(300px);
}
.footer .navAccessibility {
    width: 70%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #777;
}
.footer .navAccessibility .link-list {
    width: 25%;
    list-style-type: none;
    color: #fff;
    padding: 32px 16px;
    font-weight: 700;
}
.footer .navAccessibility .link-list li {
    padding: 4px
}
.footer .navAccessibility .link-list li a {
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
    text-decoration: none;
}
.footer .navAccessibility .link-list li a:hover {
    text-decoration: underline;
}
.footer .navFooterPadItemLine {
    display: flex;
}
.navFooterPadItemLine .container-desktop {
    display: flex;
}
.navFooterPadItemLine .container-desktop div {
    display: flex;
    align-items: center;
    margin-right: 16px;
}
.navFooterPadItemLine .container-desktop div a {
    text-decoration: none;
    color: #ccc;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 12px;

}
.navFooterPadItemLine .container-desktop div a i {
    font-size: 15px;
}
.navFooterPadItemLine .container-desktop div a span {
    font-size: 15px;
}
.navFooterPadItemLine .container-desktop div a:hover {
    color: #fff;
}
/* ----------------SIGN-IN-OVERLAY------------------- */
.sign-in-ticket {
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
}
.sign-in-modal {
    position: absolute;
    top: 10%;
    left: 35%;
    right: 35%;
    bottom: 10%;
    background-color: #fff;
    border-radius: 12px;
}
.sign-in-modal .logo {
    text-align: center;
    width: 100%;
}
.sign-in-container {
    padding: 16px;
}
.sign-in-container h2 {
    font-size: 30px;
    padding-bottom: 12px;
}
.sign-in-container label {
    font-size: 14px;
    font-weight: 600;
}
.sign-in-container input {
    width: 100%;
    height: 31px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding-left: 8px;
}
.sign-in-container .btn {
    width: 100%;
    height: 31px;
    border-color: rgb(192, 223, 18);
    border-radius: 4px;
    background-color: rgb(217, 255, 4);
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}
.sign-in-container .btn:hover {
    background-color: rgb(213, 247, 26);
    box-shadow: 2px 1px 3px 0px #ccc;
}
.sign-in-container .policies {
    font-size: 13px;
    margin-bottom: 30px;
}
.sign-in-container .policies a {
    text-decoration: none;
    color: rgba(10, 122, 85, 0.8);
    font-size: 15px;
}
.sign-in-container .policies a:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
.sign-in-container .help-btn {
    margin-top: 30px;
    text-decoration: none;
    font-size: 15px;
    color: rgba(10, 86, 122, 0.8);
}
.sign-in-container .help-btn:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
.register-form {
    padding: 16px;
    transform: translateY(50px);
}
.register-form .divider {
    content: "";
    width: 100%;
    border-top: 1px solid #ccc
}
.register-form .divider h5 {
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 100px;
    text-align: center;
    margin: auto;
    transform: translateY(-10px);
}
.register-form .btn {
    width: 100%;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(0,0,0,0.04);
}
.register-form .btn:hover {
    background-color: #fff;
    box-shadow: 1px 1px 2px #ccc;
}


.register-form .link {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.register-form .link a {
    text-decoration: none;
    font-size: 12px;
    color: rgba(10, 122, 85, 0.8);
}
.register-form .link a:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
/* ----------------REGISTER-OVERLAY------------------- */

.register-ticket {
    background-color: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
}
.register-modal {
    position: absolute;
    top: 10%;
    left: 35%;
    right: 35%;
    bottom: 10%;
    background-color: #fff;
    border-radius: 12px;
}
.register-modal .logo {
    text-align: center;
    width: 100%;
}
.register-modal .logo {
    text-align: center;
    width: 100%;
}
.register-container {
    padding: 16px;
}
.register-container h2 {
    font-size: 30px;
    padding-bottom: 6px;
}
.register-container label {
    font-size: 12px;
    font-weight: 600;
}
.register-container input {
    width: 100%;
    height: 31px;
    margin-bottom: 4px;
    border-radius: 4px;
    padding-left: 8px;
}
.register-container .btn {
    width: 100%;
    height: 31px;
    border-color: rgb(192, 223, 18);
    border-radius: 4px;
    background-color: rgb(217, 255, 4);
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
}
.register-container .btn:hover {
    background-color: rgb(213, 247, 26);
    box-shadow: 2px 1px 3px 0px #ccc;
}
.register-container .policies {
    font-size: 13px;
    margin-bottom: 10px;
}
.register-container .policies a {
    text-decoration: none;
    color: rgba(10, 122, 85, 0.8);
    font-size: 15px;
}
.register-container .policies a:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}
.register-container .link {
    font-size: 12px;
}
.register-container .link span {
    font-size: 12px;
    text-decoration: none;
    color: rgb(102, 14, 129);
    cursor: pointer;
}
.register-container .link span:hover {
    color: rgba(247, 54, 6, 0.8);
    text-decoration: underline;
}